
#qscnavi_top{
	height:30px;
	padding:3px 0;
	width:100%;
	background-color:#91bbb9;
	position:absolute;
	z-index:2147483646;
	left:0;
	top:0;
	display:none;
}
#qscnavi_flip_open{
	height:30px;
	padding:3px 0;
	width:80px;
	background-color:#91bbb9;
	position:absolute;
	z-index:2147483647;
	left:0;
	top:0;
	display:block;
}
#qscnavi_flip_off{
	height:30px;
	padding:3px 0;
	width:80px;
	background-color:#91bbb9;
	position:absolute;
	z-index:2147483647;
	left:0;
	top:0;
	display:none;
}
#qscnavi_top a{
	padding:5px 0;
	text-decoration:none;
	color:#000000;
}
#qscnavi_top-content{
	width:1200px;
}
#qscnavi_top-nav{
	float:left;
}
#qscnavi_top-nav ul{
	list-style:none;
	margin-left:90px;
}
#qscnavi_top-nav li{
	float:left;
	padding:0px 5px 0px 5px;
	color:#FFFFFF;
}
#qscnavi_top-nav li a{
	padding:5px 0;
	display:inline-block;
}
#qscnavi_top-nav a{
	color:#FFFFFF;
	font-size:10px;
}
#qscnavi_top-nav a:hover{
	color:#ffcc33;
}
